/* DO NOT REMOVE! */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    letter-spacing: .02em;
    font-family: 'Poppins';
    overflow-x: visible;
}

.navbar{
  z-index: 1600;
}

/* Navbar  */
.navbar-light{
  background: #FFF !important;
}

@media (min-width:1200px) {
    .navbar{
      height: 7vh;
    }
    .navbar-brand{
      margin-left: 12vh;
    }
}

.mainnav{
  position: fixed;
  width: 100%;
}
.nav__logo{
  margin-top: 5px;
}

.btn{
  box-shadow: none !important;
  border-radius: 4px;
  font-family: 'Poppins';
  font-weight: 300;
  padding: 10px;
  font-size: .9em;
}

.btn:hover{
  background: #f2f2f2
}

.btn.high{
  background: #EC614B;
  color:#FFF;
}

@media (max-width:1200px) {
  .btn.high{
    background: #EC614B;
    color:#FFF;
    display: block;
    text-align: left !important;
  }
  .btn.reg{
    display: block;
    text-align: left !important;
  }
}

/* Css for main */
.main{
  font-family: "Poppins";
}

.mob__header{
  margin-top: 20%;
}


/* main mobile css */
.main{
  margin-top: 2vh;
}

.hero h2{
  font-weight: bold;
  font-size: 6vh;
  margin-left: 7vw;
  margin-top: 30%;
  margin-bottom: 2vh;
}

.hero p{
  margin-left: 7vw;
  font-size: 1.3em;
  margin-bottom: 2vh;
}

.btn.sign{
  background: #EC614B;
  color: #FFF;
  text-align: left;
  margin-left: 7vw;
}
@media (max-width:1300px) {
  .hero h2{
    font-size: 4vh;
  }

  .hero p{
    font-size: 1em;
  }
}
@media (max-width:1050px) {
  .hero h2{
    font-size: 2em;
    margin-bottom: 1vh;
  }

  .hero p{
    font-size: .8em;
    margin-bottom: 1vh;
  }

  .btn.sign{
    background: #EC614B;
    color: #FFF;
    text-align: left;
    width: 18vw;
    margin-left: 7vw;
  }
}

.hero__header__mob{
  margin-left: 10vw;
  font-weight: 500;
}

.hero__mob h2{
  margin-left: 4vw;
  font-weight: 600;
  font-size: 2.3em;
  margin-bottom: 2vh
}

.hero__mob p{
  margin-left: 5vw;
  margin-bottom: 2vh;
}

.hero__mob img{
  height: 40vh;
  margin-left: 20px;
  width:100%;
}

.btn.sign__mob{
  background: #EC614B;
  color: #FFF;
  margin-left: 4vw;
  font-weight: 550;
  width: 47vw;
  text-align: left;
}
@media (max-width:998px) {

  .btn.sign__mob{
    background: #EC614B;
    color: #FFF;
    text-align: left;
    width: 23vw;
    margin-left: 4vw;
  }
}

@media (max-width:500px) {

  .btn.sign__mob{
    background: #EC614B;
    color: #FFF;
    text-align: left;
    width: 50vw;
    margin-left: 4vw;
  }
}

.img__hero{
  margin-top: 5%;
}

/* Why you need a web CSS */

.why{
  margin-top: 10vh;
}

.why h2{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 8%;
  font-weight: 900;
  font-size: 4vh;
}

.card{
  width: 80%;
  margin:auto;
  box-shadow: none;
  margin-bottom: 3vh;
  text-align: center;
}

@media (max-width:780px){
  .card{
    margin-bottom: 2vh;
  }

}

@media (max-width:1050px) {
  .why h2{
    font-size: 2em;
  }
}

.card-title{
  margin-top: 0;
}

.card-footer{
  background: #fff;
  border: none;
}

.btn.card{
  margin-top: 2vh;
  background: #FFF;
  color: #EC614B;
}
.card-title.ad{
  font-size: 1.3em;
}

.card-title.at{
  font-size: 1.35em;
}

@media (max-width:800px){
  .card-title.at{
    font-size: 1.2em;
  }
}

@media(max-width:1050px){
  .btn.opn{
    margin-top: 25%;
  }
  .btn.at{
    margin-top: 20%;
  }
}

/* modal CSS */

.modalimg{
  height: 300px;
}

@media (max-width:400px) {
  .modalimg{
    height: 150px;
  }
}

/* Zeend Analytics */
.number h2{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
  font-weight: 900;
  font-size: 4vh;
}

.numsdisp{
  text-align: center;
}
.bpn{
  font-size: 3vh;
  font-weight: 900;
}

.vert{
  height: 100px;
  vertical-align: middle;
}

.number small{
  font-size: 2vh;
}

@media (max-width:500px){
  .bpn{
    font-size: 4vh;
    font-weight: 900;
  }
  .vert{
    height: 80px;
    vertical-align: middle;
  }

  .number small{
    font-size: 1.3em;
  }

  .number h2{
    margin-bottom: 5vh;
  }

}

/*  steps css */

.signup__head{
  text-align: center;
  font-size: 3vh;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
}

@media (max-width:500px) {
  .signup__head{
    margin-top: 20%;
    margin-bottom: 15%;
  }
}

.imgh{
  width: 100%;

}

@media (max-width:770px) {
  .imgh{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
.row {
	margin-bottom:30px;
}
.row:last-child{
	margin-bottom:0;
}

/* Remove for production */
 /* .row [class*="col-"] {
  border: 1px solid red;
} */
.row [class*="col-"]  {
	margin-bottom:15vh;
}

@media (max-width:600px) {
  .row [class*="col-"]  {
  	margin-bottom:6vh;
  }
}
.step__head{
  font-size: 1.9em;
  margin-top: 5%;
  font-weight: bold;
}
@media (max-width:1050px){
  .step__head{
    font-size: 1.6em;
  }
}

@media (max-width:770px){
  .step__head{
    font-size: 1.3em;
  }
}

@media (max-width:600px){
  .step__head{
    margin-top: 0%;
  }
}

.cong{
  color: #EC614B;
}

.steps__sec ul {
  list-style: none;
}

.steps__sec ul li::before {
  /* \2022 is the CSS Code/unicode for a bullet */
  content: "\2022";
  color: #EC614B;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: 1vh;
}

.steps__sec ul ul li::before{
  content: "-";
  color: #000;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media (min-width:750px) {
  .congi{
    margin-top: 30%;
  }
}

.btn-cta{
  border-radius: 50px;
  background: #EC614B;
  color: #FFF;
  font-size: 2vh;
  font-weight: bold;
  padding-left: 5%;
  padding-right: 5%;
  letter-spacing: .05em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-cta:hover{
  background: #EC614B;
  color: #FFF;

}

.cta__head{
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
}

/* Footer Css */
.page-footer{
  background: #f2f2f2!important;
  color: black!important;
}

footer.page-footer a{
  color: #000;
}

.dl__cont{
  vertical-align: middle;
}

.dl__head{
  font-weight: bold;
  font-size: 1em;
}
.cntc input[type=text]{
  color: #000;
}

.cntc  input[type=email]{
  color: #000;
}

.cntc textarea{
  color: #000!important;
}

.md-form {
  border-bottom: none!important;
}

.parts .row [class*="col-"] {
    margin-bottom: 2vh;
}

.parts{
  text-align: center;
}

.row [class*="col-"] {
    margin-bottom: 5vh;
}

.footer-copyright {
  background: #f2f2f2!important;
  color: #000!important;
}
.btn.btn-md.send__mess{
  width: 40%;
}


.bg__search__header {

  /* Full height */
  height: 100% !important;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row.reg__hero{
  margin-bottom: 10px!important;
  max-height: 70vh;
}

.reg__hero img{
  max-height: 50vh;
}


.imgcontents{
  margin-top: 25%;
  margin-left: 5vw;
  color: #000!important;
}

.searchbar{
  border-radius: 40px;
  width:  30vw!important;
  height: 3.5em;
  margin-top: 3vh;
}

.searchbar::placeholder{
  padding-left: 2%;
  padding-top: auto;
  padding-bottom: auto;
}

.regheader{
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 1vh;

}


.smol{
  font-size: 1em;
  margin-bottom: 100px!important;
}


@media (max-width:1150px){
  .bg{
    height: 30vh!important;
  }
  .searchbar{
    width:70vw!important;
    height: 3em;
    margin-top: 1vh;
  }
  .regheader{
    font-size: 3vh;
  }
  .smol{
    font-size: 1em;
  }
  .imgcontents{
    margin-top: 20%;
    color: #000;
  }
}
@media (max-width:576px){
  .regheader{
    color: #000!important;
    font-size: 1.8em;
  }
  .searchbar{
    width:90vw!important;
    height: 2.5em;
  }
  .imgcontents{
    margin-top: 3%!important;
    color: #000;
    text-align: left;
    margin-left: 10px;
  }
  .smol{
    color: #000!important;
    font-size: .8em;
    font-weight: lighter;
  }
}
/* breadcrumb */

.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
  content: none;
}
.bc-icons-2 .breadcrumb-item.active {
  color: #455a64;
}

.btn-crumb{
  color: #000;
  padding: 5px 10px!important;
  background: #f2f2f2;
}

.badge{
  color: #000!important;
  box-shadow: none;
  font-size: .8em;
  padding: 5px 7px;
  border-radius: 50%;
  background: #FFF;
}





/* Regions */
.phheader{
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}

.reg_bg{background: #FFF}


/* How to Shop */

.how__to__shop{
  background: #FFF!important;
  padding-top: 4vh;
}

.how__to__shop__head{
  text-align: center;
  font-weight:bold;
  font-size: 1.5em;
  margin-bottom: 4vh;
}

.forself__img{
  display: inline-block;
}

.forself__head{
  font-size: 3vh;
}

.self__list{
  text-align: left!important;
}
.self__list {
  list-style: none;
}

.self__list li::before {
  /* \2022 is the CSS Code/unicode for a bullet */
  content: "\2022";
  color: #EC614B;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: 1vh;
}

.breadcrumb{
  background: #FFF!important;
}

.slct__reg{
  font-size: 3vh;
  font-weight: bold;
}


/* City store page */

.cat__chooser{
  text-align: center;
  margin-bottom: 2vh;
  font-size: .8em;
}

.btn.cat{
  background: #fff;
  color: #09BB00!important;
  border-radius: 50px;
  border: 1px solid #09BB00;
}

.btn.cat.active{
  background: #09BB00;
  color: #FFF!important;
  border-radius: 50px;
  border: 1px solid #09BB00;
}

.btn.cat:hover{
  background: #09BB00;
  color: #FFF!important;
  border-radius: 50px;
}


/* Carousel in city */

.carousel.ads img{
  max-height: 25vh;;
}

.main_cont{
  min-height: calc(100vh - 40px - 40px);
  position: relative;
  margin-top: 9vh;
}

@media (max-width:570px) {
  .main_cont{
    margin-top: 11vh;
  }
}
@media (max-width:376px) {
  .main_cont{
    margin-top: 14vh;
  }
}

.container{
  min-height: 100%;
}



/*  */

.loc__changer{
  text-align: center;
  font-size: .8em;
}


/* store css */


.navbar.store{
  height: 9vh;
  background: #424140;
  box-shadow: none;
  color: #FFF!important;
  position: fixed;
  width: 100vw;
  z-index: 1500;
  margin-top: 7vh;
  padding: .3em;
}

.navbar-brand{
  margin-left: 0!important;
  color: #FFF;
}
.navbar-brand:hover{
  color: #09BB00;
}


.store__searchbar{
  width: 50vh!important;
}

@media (max-width:1150px) {
  .navbar.store{
    height: 6vh!important;
    margin-top: 6vh!important;
    width: 100%;
  }
}
@media (max-width:770px) {
  .navbar.store{
    height: 7vh!important;
    margin-top: 8vh!important;
  }
}
@media (max-width:570px) {
  .navbar.store{
    height: 9vh!important;
    margin-top: 21%!important;
  }
  .search__store{
    height: 2.5em!important;
  }
}
@media (max-width:361px) {
  .navbar.store{
    height: 11vh!important;
    padding: 2px!important;
    margin-top: 24%!important;
  }
  .search__store{
    height: 2.5em!important;
  }
}

.sidebar{
  float: left;
  margin-left: 0;
}

.sidebar-sticky{
  background: #FFF;
  width: 10vw;
  height: 100vh;
  position: fixed;
  z-index: 1300;
  margin-top: 8vh;
  font-size: .8em;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}

.reg_bg.store__conts{
  margin-left: 10vw;
  margin-top: 15vh!important;
}


.store_banner{
  display: block;
  margin: auto;
  width: 85vw;
  max-height: 20vh;
  margin-top: 8vh;
}

.storelogo{
  height: 5vh;
  color: #FFF!important;
  margin-right: 1em;
}
.storefoot{
  margin-left: 20vw;
}

@media (min-width:1000px) {
  .storefoot{
    margin-left: 10vh;
  }
}

@media (max-width:1050px) {
  .sidebar-sticky{
    width: 20vw;
    margin-top: 7vh;
  }
  .reg_bg.store__conts{
    margin-left: 20vw;
    margin-top: 10vh!important;
  }


  .store_banner{
    max-width: 75vw;
    max-height: 10vh;
    margin-top: 5vh;
  }
  .list-group{
    margin-top: 7vh;
  }
}
@media (max-width:770px)  {
  .reg_bg.store__conts{
    margin-top: 12vh!important;
  }

}
@media (max-width:570px)  {
  .reg_bg.store__conts{
    margin-left: 0;
    margin-top: 45%!important;
  }
  .store_banner{
    margin-top: 12vh;
    max-width: 90vw;
    max-height: 15vh;
  }
  .page-footer.storefoot{
    margin-left: 0;
  }

}
@media (max-width:370px)  {
  .reg_bg.store__conts{
    margin-left: 0;
    margin-top: 50%!important;
  }
  .store_banner{
    margin-top: 13vh;
  }
}


.list-group{
  padding: 10px;
  margin-top: 7vh;
}

.list-group a{
  color: #000;
}

@media (max-width:770px) {
  .list-group{
    margin-top: 9vh;
  }
}

.store_categ{
  /* border: 1px solid red; */
  border-radius: 20px;
  padding: 8px;
  background: #FFF;
  margin-top: .5em;
  margin-bottom: .5em;
}

.store_categ:hover{
  background: #78AB46;
  color: #FFF;
}
.store_categ.active{
  background: #78AB46;
  color: #FFF;
}

.search__store{
  width: 50vw;
  border: 1px solid black;
  z-index: 1300!important;
  height: 3em;
  margin-left: 5vh;
}

.store_nav_conts{
  display: inline-block;
}

.active__category__header{
  font-size: 1.5em;
}

.container-fluid.store__container{
  max-width: 85vw;
}

@media (max-width:580px) {
  .storelogo{
    margin: 0;
    height: 30px;
  }

  .search__store{
    margin-right:auto;
    margin-left: 0;
    float: left;
  }
  .container-fluid.store__container{
    max-width: 100vw;
  }
}

@media (max-width:361px) {
  .storelogo{
    margin: 0;
    display: none;
  }

  .search__store{
    margin-right:auto;
    margin-left: 0;
    float: left;
  }
  .container-fluid.store__container{
    max-width: 100vw;
  }
}

/* items */
.row.store__items [class*="col-"] {
    margin-bottom: 3%;
    height: 100%;
}

.store_item_card{
  border: .01em solid #f2f2f2;;
  height: 30vh;
  max-height: 350px;
  border-radius: 5px;
}

.store_item_card:hover{
    border: .001em solid green;
}


.storeitems{
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.row.store{
  max-width: 85vw;
  margin: auto;
  margin-bottom: 20px;
}

.itemimg{
  max-height: 20vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 2vh;
}
.row.store [class*="col-"] {
    margin-bottom: 0;
}


.item_name{
  font-size: 1em;
  margin-left: 5%;
  font-weight: lighter;
  color: #000;
  margin-bottom: 200px;
}
.item_price{
  font-size:.8em;
  margin-left: 5%;
  color: red!important;
  font-weight: bold;
  margin-bottom: 90px!important;
}




@media (max-width:1100px) {
  .itemimg{
    max-height: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .store_item_card{
    border: .01em solid #f2f2f2;;
    height: 18vh!important;
    max-height: 350px;
    border-radius: 5px;
  }
}
@media (max-width:500px) {
  .store_item_card{
    height: 22vh!important;
  }
}

.storenav_cart{
  margin-right: 2%;
}

.btn.moblog{
  font-size: .7em;
  padding: 5px!important;
  margin: .2em;
}

.dropdown-menu{
  max-height: 60vh;
  overflow: auto;
}



.modal.search__modal{
  color: #000;
}

.btn.btn-search{
  background: #09BB00;
  color: #FFF;
  margin-left: 40%;
}

.btn.btn-loc{
  padding: 10px 15px;;
}

.shopping__modal{
  color: #000;
}

.shopping__item{
  max-height: 80px;
}



.item__desc{
  font-size: .9em;

}

.item__price__modal{
  font-size: 1.3em;
  color: #EC614B;
  font-weight: bold;
}

.modal-body.itemsadded{
  max-height: 55vh;
}

.item_detail_img{
  height: 30vh;
  display: block;
  margin: auto;
}

.item__name__modal{
  font-size: 2em;
  font-weight: bold;
}
/*
.modal-dialog{
  margin-top: 10%;
} */
.modal_btns_item_deets{
  margin-left: 60%;
}

.total__modal{
  float: right;
  margin-right: 5%;
  font-size: 1.2em;
}


.row.cartitem{
  margin-bottom: 2vh!important;
}

.btn-checkout{
  background: #09BB00;
  color: #FFF;
}

.btn-checkout:hover{
  background: #FFF;
  color: #09BB00;
  border: .04em solid #09BB00;
}

.btn.btn-warning.wishlist:hover{
  background: #FFF!important;
  color: #09BB00!important;
  border: .04em solid #09BB00!important;
}

@media (min-width:1101px) {

  .plusminusbtn{
    border: none;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 7px 14px;
    background: #f2f2f2;
  }

  .add_to_cart{
    border: none;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 8px 16px;
    background: #09BB00;
    color: #FFF;
  }
  .add_to_cart:hover{
    background: #09BB00;
    color: #FFF;
  }
  .current__item{
    margin-left: .5em;
    margin-right: .5em;
    padding: 10px;
  }
  .total__modal{
    float: right;
    margin-right: 11%;
    font-size: 1.3em;
    margin-bottom: 20px;
  }
}


@media (max-width:1100px) {
  .modal-dialog{
    z-index: 9999;
    max-height: 30vh;
    max-width: 60vw;
    margin-left: 25%;
  }
  .item_detail_img{
    height: 25vh;
    display: block;
    margin: auto;
  }
}
@media (max-width:580px) {
  .modal-dialog{
    margin-top: 25%!important;
    max-width: 90%;
    margin-left: 2%;;
  }
  .modal.item_deets{
    max-height: 100vh;
  }

  .item_detail_img{
    height: 30vh;
    display: block;
    margin:auto;
  }

  .item__name__modal{
    font-size: 1.5em;
    font-weight: bold;
  }
  .plusminusbtn{
    padding: 5px 10px;
    background: #f2f2f2!important;
    color: #000;
  }
  .mob_btn_plusmin{
    margin-left: 6%;;
  }
  .add_to_cart{
    border: none;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 7px 14px;
    background: #09BB00;
    color: #FFF;
  }
  .add_to_cart:hover{
    background: #09BB00;
    color: #FFF;
  }
}

@media (max-width:370px) {

  .modal-dialog{
    margin-top: 28%!important;
  }
  .item_detail_img{
    height: 15vh;
    display: block;
    margin: auto;
  }

  .btn.cartbtn{
    margin: 0!important;
    padding: 5px!important;
  }


}
.item_img_container{
  max-height: 30%;
}

.fab{
  font-size: 1.5em;
}

/* authenticated navbar */
.fa.fa-bell{
  font-size: 15px;
  padding: 5px 8px;
}

@media (max-width:321px) {
  .btn.bell{
    margin: 0px!important;
  }
}

/* product page css */

.item_image{
  max-height: 50vh;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.item_page_name{
  font-size: 1.8em;
}

.item_page_price{
  font-size: 2em!important;
  color: red;
}

.item_description{
  padding-left: 10px;
  padding-right: 10px;
}

.product__description__header{
  font-size: 1.3em;
  margin-top: 2vh!important;
  font-weight: bold;
}

.detailed__product__description{
  font-size: .8em;
  font-weight: bold;
}

@media (min-width:1020px) {
  .item_page_name{
    font-size: 2.3em;
  }
  .item_page_price{
    font-size: 1.6em;
    font-weight: bold;
  }
  .product__description__header{
    font-size: 1.6em;
  }
  .detailed__product__description{
    font-size: 1em;
    font-weight: lighter;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 40%;
  }
  .item_image{
    max-width: 320px;
  }
}


.addtocart_col{
  padding: 20px;
}

.item_deails{
  padding: 20px;
}

.btn.btn-add{
  display: block;
  width: 100%;
  margin-top: 10px!important;
  margin: 0 auto;
  background: orange;
}

.share_item{
  padding: 20px;
}

.similar__stores{
  padding: 20px;
}





/* Profile CSS */

.prof_details{

}

.prof_details img{
  max-height: 90px;
  float: left;
  margin-right: 10px;
  border-radius: 50px;
}

.list-group.profile{
  margin-top: 0!important;
}

.user_name{
  font-size: 1.2em;
}

.account_number{
  font-size: .8em;
  font-weight: lighter;
}


/* WAllet CSS */

.card.wallet_card{
  border: 0.05em solid #f2f2f2;
  padding: 10px;
  margin: 0;
  text-align: inherit;
  width: 100%;
  background: #F2f2f2;
  height: 23vh;
}

.wallet_header{
  font-size: 1.7em;
  text-align: center;
  font-family: 'Poppins';

}

.wallet_balance{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 1.8em;
  margin-bottom: 0!important;
}

.php_avail_bal{
  font-size: .6em!important;
  padding-left: 10px;
}

.wallet_card_add{
  display: block;
  margin-left: auto;
  margin-top: auto;
  padding-right: 10px;
  padding-bottom: 10px;
}

.btn.load_walelt{
  margin: 0!important;
}

.card.deposit_card{
  border: 0.05em solid #f2f2f2;
  padding: 10px;
  margin: 0;
  text-align: inherit;
  width: 100%;
  background: #F2f2f2;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.wallet_infos p{
  font-size: 0.7em;
  margin: 10px;
}

.deposit_header{
  font-size: 1.5em;
  text-align: center;
}

.white_dragon{
  height: 35px
}

.debit_credit{
  padding: 8px;
}

.btn.sendbtn{
  margin-right: 0;
}



* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #546E7A;
}
.wrapper {
	max-width: 18rem;
	padding: 0 0.5rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 4rem;
}
label {
	font-size: 0.75rem;
	font-weight: 400;
	display: block;
	margin-bottom: 0.5rem;
	color: #B0BEC5;
	border: 1px solid #ECEFF1;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
}
input {
	font-family: 'Roboto', sans-serif;
	display:block;
	border: none;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	line-height: 1.5rem;
	padding: 0;
	font-size: 1rem;
	color: #607D8B;
	width: 100%;
	margin-top: 0.5rem;
}
input:focus {outline: none;}
#ui-datepicker-div {
	display: none;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
	margin-top: 0.25rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.ui-datepicker-calendar thead th {
	padding: 0.25rem 0;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 400;
	color: #78909C;
}
.ui-datepicker-calendar tbody td {
	width: 2.5rem;
	text-align: center;
	padding: 0;
}
.ui-datepicker-calendar tbody td a {
	display: block;
	border-radius: 0.25rem;
	line-height: 2rem;
	transition: 0.3s all;
	color: #546E7A;
	font-size: 0.875rem;
	text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {
	background-color: #E0F2F1;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
	background-color: #009688;
	color: white;
}
.ui-datepicker-header a.ui-corner-all {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
	background-color: #ECEFF1;
}
.ui-datepicker-header a.ui-datepicker-prev {
	left: 0;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-size: 0.5rem;
	background-position: 50%;
	transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
	right: 0;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 50%;
}
.ui-datepicker-header a>span {
	display: none;
}
.ui-datepicker-title {
	text-align: center;
	line-height: 2rem;
	margin-bottom: 0.25rem;
	font-size: 0.875rem;
	font-weight: 500;
	padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
	color: #78909C;
	font-weight: 400;
	font-size: 0.75rem;
}


.history_card{
  background: #F2f2f2;
  border-radius: 5px;
  padding: 10px;
}


.date_from{
  padding: 8px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.custom-select.select_transaction{
  padding: 8px;
  margin-top: 4%;
  display: block;
  margin-right: 3%;
}


/* wishlist */

.card.gencard{
  border: 0.05em solid #f2f2f2;
  padding: 10px;
  margin: 0;
  text-align: inherit;
  width: 100%;
  background: #F2f2f2;
}

.wishlists_received_hedaer{
  display: inline-block;
}
.wishlists_rec{

}
.wishlists_rec img{
  max-height: 25px;
  max-width: 25px;
  float: left;
  margin-right: 10px;
  border-radius: 50px;
}


.wishlists_rec p{
  font-size: 1.2em;
}
.btn.view{
  padding: 8px;
  margin: 0;
}


.btn.payment_history{
  float: right;
  margin-right: 0;
  margin-bottom: 5%;
  font-size: 0.8em;
}

.pay_bills_header{
  text-align: center;
  padding: 20px;
  border: 2px solid #09BB00;
  border-radius: 5px;
}

.btn.btn-crumb{
  margin: 0!important;
}


.table.table_history_bills{
  overflow-y: auto;
}

/* messages */

.usr_chat_head{
  max-height: 50px;
  float: left;
  margin-right: 10px;
  border-radius: 50px;
}

.list-group-item.messeage_box{
  height: relative;
}


.message_peek{
  font-size: 0.9em;
}


.list-group.messages{
  margin-top: 10px;;
}

.messages_header{
  margin-left: 3%;
  font-size: 1.4em;
  text-align: center;
}


/* Direct Message CSS */

.card.gencard.dm-card{
  min-height: 60vh;
  overflow-y: auto;
  max-height: 50vh!important;
}

.sender{
  border: 0.001em solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.message_conetents_sender{
  display: block;
}

.sender_name{
  font-weight: bold;
}

.sender img{
  max-height: 50px;
  float: left;
  margin-right: 10px;
  border-radius: 50px;
}

.sender p{
  font-size: 0.7em;
}

.time_dm_message{
  float: right;
}

.receiver{
  border: 0.001em solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: auto;
}
.message_conetents_receiver{
  display: block;
}
.receiver img{
  max-height: 50px;
  float: right;
  margin-right: 10px;
  border-radius: 50px;
}

.receiver p{
  font-size: 0.8em;
}

.time_dm_message_rec{
  float: left;
  font-size: 0.7em;
}

.send_input{
  margin-top: auto!important;
  position: sticky;
}

@media (min-width:998px) {
  .receiver{
    border: 0.001em solid grey;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    max-width: 60%;
  }
  .sender{
    border: 0.001em solid grey;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 60%;
  }
}


























































































/*  */
